.DS_Store
.codeclimate.yml
.editorconfig
.gitattributes
.git
.github
.release-please-manifest.json
.vscode
.dockerignore
.gitignore
.dockerignore
.eslintrc.yml
.jshintrc
.prettierignore
.prettierrc
.prettierrc.yaml
.snyk
.cache_ggshield
.pre-commit-config.yaml

config
config/*
cert
docs
docker-compose.yml
Dockerfile
img
log
scriptlog
node_modules
renovate.json
release
release-macos
release-config
release-please-config.json
src/.DS_Store
src/.eslintrc.yml
src/.prettierignore
src/.prettierrc.yaml
src/.snyk
src/config
src/docker-compose
src/log

coverage
build
jest.config.mjs
eslint.config.js
CHANGELOG.md
changelog_old.md
