# docker-compose_fullstack_prometheus.yml
services:
    butler-sos:
        image: ptarmiganlabs/butler-sos:latest
        container_name: butler-sos
        restart: always
        ports:
            - '9997:9997' # UDP user events
            - '9996:9996' # UDP log events
            - '9842:9842' # Prometheus metrics
            - '3100:3100' # Config file visualization
        volumes:
            # Make config file and log files accessible outside of container
            - './config:/nodeapp/config'
            - './log:/nodeapp/log'
            - './audit-events:/nodeapp/audit-events'            - "./audit-events-qvd:/nodeapp/audit-events/qvd"        command: ['node', 'src/butler-sos.js', '-c', '/nodeapp/config/production_prometheus.yaml']
        logging:
            driver: 'json-file'
            options:
                max-file: '5'
                max-size: '5m'
        networks:
            - senseops

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        volumes:
            - ./prometheus/:/etc/prometheus/
            - prometheus_data:/prometheus
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--web.console.libraries=/usr/share/prometheus/console_libraries'
            - '--web.console.templates=/usr/share/prometheus/consoles'
            # - "--log.level=debug"
        ports:
            - 9090:9090
        links:
            - cadvisor:cadvisor
            - alertmanager:alertmanager
        depends_on:
            - cadvisor
        networks:
            - senseops
        restart: always

    alertmanager:
        image: prom/alertmanager
        container_name: alertmanager
        ports:
            - 9093:9093
        volumes:
            - ./alertmanager/:/etc/alertmanager/
        networks:
            - senseops
        restart: always
        command:
            - '--config.file=/etc/alertmanager/config.yml'
            - '--storage.path=/alertmanager'

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        restart: always
        ports:
            - '3000:3000'
        volumes:
            - ./grafana/data:/var/lib/grafana
        networks:
            - senseops

networks:
    senseops:
        driver: bridge
