name: release-please
on:
  push:
    branches:
      - master
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2.28.1
        with:
          release-type: node
          package-name: butler-sos
          path: src
          default-branch: master
